<!doctype html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>海軍陸戰隊行動通訊平台</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-datepicker.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
        }
        label.error {
            color: red;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>

    <script>
        var id = '<%= id %>';
    </script>

    <script src="/javascripts/views/auth_given.js"></script>
</head>

<body>
    <% include header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6 text-left">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input name="data[canBrowseUser]" type="checkbox" id="canBrowseUser">瀏覽/刪除會員
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input name="data[canVerifyUser]" type="checkbox" id="canVerifyUser">審核會員
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input name="data[canCreateDepartment]" type="checkbox" id="canCreateDepartment">建立單位
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input name="data[canCreateRoom]" type="checkbox" id="canCreateRoom">建立聊天室
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input name="data[canModifyBulletins]" type="checkbox" id="canModifyBulletins">編輯公佈欄
                            </label>
                        </div>
                    </li>
                </ul>
                <input class="btn-primary btn" id='send' type='button' value='送出' />
            </div>
        </div>
    </div>
</body>

</html>
