<!doctype html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>海軍陸戰隊行動通訊平台</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
        }
    </style>

    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/views/index.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <% include header.ejs %>

    <div class="container">
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-6 col-lg-6 ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="dialog" aria-labelledby="ui-id-1" style="margin-left:10px; display: block;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">海軍陸戰隊即時通訊平台公告</span></div>
            <div id="dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 107px; max-height: none; height: auto;">
            </div>
            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
            <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
        </div>
    </div>
</div>
</body>

</html>
